### 05.여러개 입력 처리

In [1]:
a = 'red green blue '
a.split() #스트링을 스플릿 처리하면 리스트를 만들어준다.

['red', 'green', 'blue']

In [2]:
b = "red, green, blue"
b.split(",")

['red', ' green', ' blue']

In [3]:
string = input('빛의 삼원색을 빈칸으로 구분하여 입력하시오 : ')
string

'빨강 파랑 초록'

In [4]:
r,g,b = string.split() #리스트 언패킹해서 할당
r,g,b

('빨강', '파랑', '초록')

In [7]:
numbers = ['3.1','2.4','8.5']
list(map(float,numbers)) #map까지만 하면 할당된 주소가 나온다

[3.1, 2.4, 8.5]

In [8]:
string ='3.1 2.4 8.5'
list(map(float,string.split()))

[3.1, 2.4, 8.5]

In [9]:
string = input("실수 세 개를 빈칸으로 구분하여 입력하시오 : ")
string

'3.1 2.5 9.5'

In [10]:
list(map(float, input("실수 세개 입력").split())) # 한 번에 리스트르 만들어서 출력된다.

[3.5, 6.8, 5.9]

In [11]:
x, y, z = list(map(float, input("실수 세개 입력").split())) # 리스트 빼도 됨, y, z = list(map(float, input("실수 세개 입력").split())) # 리스트 빼도 됨
x, y, z

(6.8, 5.8, 4.9)

### 추가 사항 : range - 시퀀스 자료형

In [13]:
range(5) # 0에서 4

range(0, 5)

In [14]:
list(range(5))

[0, 1, 2, 3, 4]

In [15]:
# 1 - 10
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
# 1 - 10 홀수
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [17]:
# 10 - 1 짝수
list(range(10,1, -2))

[10, 8, 6, 4, 2]

Q. 두개의 정수를 입력받아서 첫번째 값에서부터 두번째 값까지 출력  
단, 두번째 값이 첫번째 값보다 크다.

In [27]:
a ,b = map(int, input("두개의 정수를 빈칸으로 구분하여 입력 :").split())

list(range(a,b+1))

[5, 6, 7, 8, 9]