# Chap7. 자료 구조

### 1. 스택 stack

In [4]:
stack  = [1,2,3]

stack.append(4) # push 역할

stack

[1, 2, 3, 4]

In [5]:
stack.pop() # 맨 마지막것을 지우면서 return 함

[1, 2, 3]

In [6]:
stack

[1, 2, 3]

입력한 문자열을 거꾸로 추출하기

In [8]:
word = list(input("단어 입력"))
print(word)

# 거꾸로 추출
result = []
for i in range(len(word)): # i가 구문 안에 쓰이지 않았으므로 _로 해서 더미변수로 이용 가능.
    result += word.pop()
print(result)

['h', 'e', 'l', 'l', 'o']
['o', 'l', 'l', 'e', 'h']

In [9]:
# 다른 방법

word = list(input("단어 입력"))
print(word)

result = []
for i in range(len(word)):
    result.append(word.pop())

result

['h', 'e', 'l', 'l', 'o']

['o', 'l', 'l', 'e', 'h', 'o', 'l', 'l', 'e', 'h']

### 2. 큐
FIFO 형태  
pop(0)은 맨 처음 값을 가져온다는 뜻이므로 이를 이용하여 구현 가능

In [10]:
queue = [1,2,3]

queue.pop(0)    # 앞에 것 제거거

1

In [11]:
queue

[2, 3]

### 3. 튜플 tuple

수정이 불가능하다는 특징이 있다  
그래서 바뀌면 안되는 데이터를 튜플 형태로 제공한다. 예를 들어서 학번이나 이름, 주민등록번호 등이 있다.

In [15]:
t = (1,2,3)
st = tuple('word')
t, st    # 두개를 튜플로 묶기

((1, 2, 3), ('w', 'o', 'r', 'd'))

In [13]:
# 괄호가 없어도 튜플로 인식한다

t = 1,2,3
t

(1, 2, 3)

In [14]:
t.count(1)   # 가능
# t[0]=4     # 불가능

1

In [19]:
# 시퀀스 자료형이므로 for문에서 사용 가능
for element in t : 
    print(element)

1
2
3

### 4. 세트 set  

삭제나 변경이 가능하다

In [21]:
s = set([1,2,3,4,5])

s

{1, 2, 3, 4, 5}

In [24]:
s.add(1)
s

{1, 2, 3, 4, 5, 7}

In [23]:
s.update([1,3,5,7])
s

{1, 2, 3, 4, 5, 7}

In [27]:
s.remove(7)
s

{1, 4, 5}

In [26]:
s.discard(3)
s

{1, 2, 4, 5}

In [28]:
s.clear()
s

set()

In [29]:
s1 = set(range(1,6))
s2 = set(range(3,8))

s1, s2

({1, 2, 3, 4, 5}, {3, 4, 5, 6, 7})

In [31]:
# 합집합

s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [35]:
# 교집합

s1.intersection(s2) == (s1 & s2)

True

In [34]:
# 차집합
s1.difference(s2) == (s1 - s2)

True